body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-image: url('../images/loginpic3edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-signup,
#logo {
    height: 100px;
    width: 300px;
    margin-top: -10px;
    background-image: url('../images/Black-logo-nobackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling for flash messages */
.messages {
    /* border: 1px solid green; */
    width: 80%;
    height: 40px;
    color:rgb(238, 20, 38);
    font-family: Cabinet Grotesk;
    font-weight: 800;
    text-align: center;
}

.login-container {
    /* border: 1px solid black; */
    width: 350px;
    height: 400px;
    background: rgba(128, 128, 128, 0.85);
    border-radius: 24px;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

p.text {
    /* border: 1px solid red; */
    margin: 0 0 5px 0;
    font-size: 30px;
    font-family: Cabinet Grotesk;
    font-weight: 800;
    color: black;
}

#come {
    color: white;
}

p#instr {
    margin: 0 0 10px 0;
    color: #FFB84C;
    text-align: center;
    font-weight: 600;
}

/*
    =============
    Form styling
    =============
*/
.form-container {
    /* border: 1px solid purple; */
    width: 90%;
}
.input-box {
    margin-bottom: 15px;
    font-weight: 520;
    font-family: Cabinet Grotesk;

}

input[type="text"], input[type="password"] {
    width: 95%;
    height: 35px;
    border-radius: 9px;
    border: 1px rgb(247, 244, 244) solid;
}

input[type="submit"] {
    width: 125px;
    height: 48px;
    left: 115px;
    background: rgb(194, 188, 188);
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: gray;
}


.line-box {
    /* border: 1px solid black; */
    width: 225px;
    height: 18px;
}

.line {
    /* border: 1px solid yellow; */
    width: 225px;
    height: 1px;
}

p {
    margin-top: 0;
}

#or {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
}

p#register {
    margin-top: 20px;
    width: 209px;
    height: 9.40px;
    color: black;
}

a {
    text-decoration: none;
    color: #FFB84C;
    font-weight: 600;
}

/*
    ================
    Sign up styles
    ================
*/

.messages#signup {
    margin-top: -20px;
}
.login-container.signup {
    /* border: 1px solid blanchedalmond; */
    width: 60%;
    height: auto;
    background: gray;
    opacity: 0.9;
    border-radius: 5px;
    left: 69%;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.input-box#signup {
    font-weight: 500;
    margin-bottom: 0;
    top: 0;
    width: 50%;
}

.input-box#optional {
    font-weight: 500;
    width: 102%;
}

#signup {
    margin-bottom: 20px;
}

/* Media query for screens 600px and below */
@media (max-width: 600px) {
    #logo {
        margin-top: -200px;
    }

    .messages {
        /* border: 1px solid rebeccapurple; */
        margin-top: -100px;
        margin-bottom: 2%;
    }

    .login-container.signup {
        width: 60%;
        height: auto;
        background: gray;
        opacity: 0.9;
        border-radius: 5px;
        left: 69%;
    }
    
    .input-box#signup {
        font-weight: 500;
        margin-bottom: 0;
        top: 0;
        width: 100%;
    }
    
    .input-box#optional {
        font-weight: 500;
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    #instr.ins-signup {
        margin-top: -100px;
    }
}
