/*
    =======================
    Widgets section styles
    =======================
*/
.display-container {
    /* border: 1px solid black; */
    height: 82%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.widgets {
    /* border: 1px solid brown; */
    width: 65%;
    left: 25%;
    align-items: flex-start;
    gap: 5%;
    display: inline-flex;
    height: 100%;

}

.widget-box {
    /* border: 1px solid brown; */
    flex: 1 1 0;
    /* width: 200px; */
    background-color: rgb(219, 215, 215, 0.3);
    max-width: 100%;
    min-width: 10%;
    padding: 3%;
    border-radius: 20%;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    margin-top: 7%;
}

/* Style for the inner widget box housing the icon box, description and value */
.innerbox {
    /* border: 1px solid yellow; */
    height: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    display: flex;
}

.icon-and-name {
    /* border: 1px solid blue; */
    align-items: center;
    gap: 5%;
    display: inline-flex;
}

.icon {
    /* border: 1px solid black; */
    height: 25px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    color: #808191;
    /* font-size: 15px; */
    font-family: Inter;
    font-weight: 800;
    line-height: 100%;
    word-wrap: break-word;
}

.icon#vendor-icon {
    background-image: url('../images/vendor_widget.png');
}

.icon#orders-icon {
    background-image: url('../images/order_widget.png');
}

.icon#reviews-icon {
    background-image: url('../images/review_widget.png');
}

.value {
    /* border: 1px solid black; */
    color: #1B1D21;
    font-size: 31px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .value {
        font-size: 1.8em;
    }
}

/*
    =========================
    Statistics section styles
    =========================
*/
.stat-container {
    /* border: 1px solid blue; */
    height: 85vh;
    width: 35%;
    background-color: rgb(41, 99, 137, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    border: 1px solid #f04b4c;
    color: white;
    background-color: #f04b4c;
    margin-top: 5%;
    padding: 2%;
    font-weight: 800;
}

.note-container {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:3%;
    width:70%;
    max-width: 100%;
    text-align: left;
  }

.note-title {
    color: #333;
    margin: 0;
}
  
.note-content {
    color: #555;
    line-height: 1.5;
    margin: 1%;
    font-size: 13px;
}

