<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-SupplyTrackPlus</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/browser.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/accounts.css') }}">
</head>
<body>
    <div class="container">
        <a  href="{{ url_for('pub_views.landing_page') }}"><div id="logo"></div></a>
        <div class="messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="login-container">
            <p class="text">Wel<span id="come">come</span></p>
            <p id="instr">Enter your username/email and password to login</p>
            <div class="form-container">
                <form action="" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="input-box">
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                        {% for error in form.username.errors %}
                        <span style="color: whitesmoke; font-size: 12px;"><br>[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="input-box">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                        {% for error in form.password.errors %}
                        <span style="color: whitesmoke; font-size: 12px;"><br>[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.submit()}}
                    </div>
                </form>
            </div>
            <div class="line-box">
            <img class="line" src="https://via.placeholder.com/225x1" />
            <p id="or">OR</p>
        </div>
        <p id="register">Don’t have account?</span><br><a href="{{ url_for('pub_views.signUp') }}">Register Now</a></p>
    </div>
</body>
</html>
