{% extends 'base_landing.html' %}
{% block content %}
<div class="intro-container" id="about">
    <div class="row-cont">
        <div class="pic" id="intro"></div>
        <div id="writeup"><h2>Welcome to SupplyTrackPlus</h2>Where managing vendors and orders 
            is simple and efficient.<br>Explore our platform to streamline your business 
            operations!
        </div>
    </div>
    <div class="row-cont" id="ourstory">
        <div class="pic"></div>
        <div id="writeup">
            <h1>Our Story</h1>
            Our journey began with a single vision: to simplify the way businesses manage vendors
            and orders. It all started in a bustling work environment, fueled by the desire to create a seamless 
            platform for businesses of all sizes. We recognized the challenges entrepreneurs faced in organizing 
            their vendor relationships and tracking orders efficiently. With this insight, we embarked on a mission
            to develop an intuitive solution that would empower businesses to streamline their operations and focus
            on what truly matters – delivering exceptional products and services to their customers.<br><br>
            Through countless hours of dedication and collaboration, our team of experts crafted SupplyTrackPlus,
            a powerful tool designed to revolutionize the vendor management experience. We envisioned a platform 
            where businesses could effortlessly create vendors, manage orders, and even rate products upon delivery,
            all in one place.<br><br>
            Today, our app stands as a testament to our commitment to innovation, reliability, and user-centric design.
            We take pride in supporting businesses, enabling them to thrive in a competitive landscape. With every feature
            we introduce and every business we assist, our story continues to unfold, shaped by the successes of the 
            incredible entrepreneurs we serve.<br><br>
            Join us on this journey and let's transform the way you manage vendors and orders together.
            Welcome to SupplyTrackPlus, where efficiency meets excellence.
        </div>
    </div>
    <div class="row-cont" id="team">
        <div class="pic" id="team"></div>
        <div id="writeup"><h2>Meet Our Team</h2>
            <h5>James Raphael (Owner)</h5>
            <div id="info">
                <div id="github"></div>
                <a href="https://www.linkedin.com/in/james-raphael-1a65311b3" target="_blank"><div id="linkedin"></div></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}